<h1 class="float-left">Patterns</h1>
<div class="orders-patterns-button float-right">
  <%= link_to 'Orders', root_url, class: "btn btn-primary" %>
</div>
<table class="table table-striped">
  <tbody>
    <% @patterns.each do |pattern| %>
      <tr class="align-items-center">
        <td class="cell" style="line-height: 36px;"><%= pattern.name %></td>
        <td class="cell"><%= link_to 'edit', edit_pattern_path(pattern), class: "btn btn-warning" %></td>
        <td class="cell"><%= link_to 'delete', pattern_path(pattern), class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="new-pattern"></div>
<%= link_to 'Create Pattern', new_pattern_path, method: :get, remote: true, class: "btn btn-primary form-control" %>